backup
/config_dir/xfce4/xfce4-screenshooter
/config_dir/xfce4/help.rc
/config_dir/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
/config_dir/xfce4/terminal/accels.scm
/config_dir/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml
